.listado{
    margin-top: 45px;
    
}
table{
    text-align: center;
}
.listado h1{
    text-decoration: underline;
}

/* The popup form - hidden by default */
.formularioAvanzado {
  display: none;
  position: fixed;
  top:10px;
  right: 25px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background: #cccccc;
  height: 400px;
  width: 600px;
  border-radius: 20px;
}

/* Add styles to the form container */
.frmFiltrar{
  max-width: 500px;
  padding: 10px;
  background-color: white;
}
label{
    text-align: left;
}
